body {
    font-family: arial;
    min-width: 1200px;
    margin: 0px;
    overflow: hidden;
    height: 100vh;
}

.header {
    width: 100%;

}

.header__container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0px 10px;
    height: 60px;
}

.header__container--options {

    margin-right: 2px;
    display: flex;

}

.header__container--options li {
    margin-left: 14px;
    font-size: 0.8em;
}

.header__container--options a {
    color: #333;
    text-decoration: none;
}

.header__container---perfil {
    margin-right: 20px;
}

.header__container---perfil img {

    vertical-align: middle;
    margin-left: 12px;
}

.header__perfil--icon {
    width: 28px;
    filter: invert(0.4) sepia(1);
}

.header__perfil--avatar {
    width: 32px;
    border-radius: 32px;
}


.body {
    min-height: 500px;
    display: flex;
    margin: : column;
    justify-content: center;
}

.body__container {
    width: 580px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.body__logo {
    width: 270px
}

.body__container--form {

    justify-content: center;
    width: 100%;
    margin-top: 30px
}


.body__container--input {
    width: 100%;
    height: 40px;
    border: solid 1px #DDD;
    display: flex;
    border-radius: 40px;

}

.body__container--input img {
    vertical-align: middle;
    margin: 0px 10px;
    vertical-align: middle;
    width: 20px;
    filter: invert(0.4) sepia(1);
}

.body__container--input input {
    width: 80%;
    border-color: transparent;
    border-style: solid;

}

.body__container--sumbit {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.body__container--sumbit button {
    margin: 0px 10px;
    padding: 10px;
    border: none;
    color: gray;
    border-radius: 4px;
    background-color: #F2F2F2;
}

.body__container--sumbit button:hover {
    margin: 0px 10px;
    color: black;
    border: solid 1px #D5D5D5;
}

.body__container--footer {
    font-size: 0.8em;
    margin-top: 20px;
}

.body__container--footer a {
    margin-left: 5px;
}

.footer {
    width: 100vw;
    position: absolute;
    top: calc(100vh - 83px);
    background-color: #EEE;

}

.footer_container {

    display: flex;
    justify-content: space-between;
    height: 40px;
    border: solid 1px #DDD;
    border-bottom: 0px;
    padding: 0px
}

.footer_container ul {
    list-style: none;
    display: flex;
    margin: 0px 18px;
    padding: 0px;

    display: flex;
    margin: 0px 18px;
    padding: 0px
}

.footer_container li {
    margin: auto 12px;
    padding: 0px;

    font-size: 0.9em;
    color: #666;
}

.footer_container a {
    color: #666;
}
a{
    text-decoration:none;
    }

a:hover {
    text-decoration:underline;
}

ul {
    list-style: none;
}